{% extends "base.html" %}
{% block content %}
<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4">
            <div class="col-2"></div>
            <div class="col-8">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% if 'error' in messages[0] or 'errors' in messages[0] %}
                            <div class="alert alert-danger" role="alert">
                                {{messages[0]}}
                            </div>
                        {% else %}
                            <div class="alert alert-success" role="alert">
                                {{messages[0]}}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endwith %}  
            </div>
            <div class="col-2"></div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8" data-aos="zoom-in" data-aos-delay="400">
                <div class="pricing-item featured">
                    <div class="pricing-header">
                        <h4 class="text-warning fw-bolder">{{meter.num}}</h4>
                        <p class="float-end fw-bold text-danger">Units : {{meter.units}}</p> <br>
                    </div>
                    <div class="tab-content">
                        <div class="row gy-4">
                            <div class="text-center" data-aos="fade-up" data-aos-delay="100">
                                <div class="card mt-2">
                                    <div class="card mt-3">
                                        <div class="card-header"><h6 style="color:red" class="text">Select Units</h6></div>
                                        <div class="card-body">
                                        <ul class="list-group">
                                            <form action="" method="post">
                                            <div class="form-group mt-3">
                                              <label for="">Select Units</label>

                                              <input type="text" name="units" class="form-control" placeholder="Units" required>
                                            
                                              <!-- <select name="units" id="" class="form-control" >
                                                <option value="400">400 Units</option>
                                                <option value="1000">1000 Units</option>
                                                <option value="20000">20000 Units</option>
                                                <option value="50000">50000 Units</option>
                                              </select> -->
                                            </div>
                                            <div class="text-center mt-auto mt-2">
                                                <div class="text-center mb-3">
                                                    <button type="submit" class="buy-btn ">Set Units</button>
                                                </div>
                                            </div>
                                          </form>
                                        </ul>
                                        </div>
                                        
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div>
</section>
{% endblock %}